.page {
  font-family: "Open Sans", sans-serif;
  color: #444;
  background-color: #FFFFFF;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
}



a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .font-primary {
  font-family: "Roboto", sans-serif;
}

.title {
font-size: 35px;
}

.subtitle {
  font-size: 25px;
}

.header {
  border-bottom: 1px solid rgb(126, 113, 113);
}

.header__body {
  height: 96px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  border-bottom: 1px;
}

.header__body .logo {
  font-family: Helvetica, Sans-Serif;
  font-size: 35px;
  font-weight: 600;
  color: #475e91;
}

.header__body .logo a {
  position: relative;
  height: 100px;

}

.header__body .logo a span {
  position: absolute;
  top: 45px;
  bottom: 0;
  margin: auto 0;
  color: #475e91;
}

#main {
  margin-top: 80px;
}


.navbar {
  padding: 25px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}



.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(126, 113, 113);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #3884fd;
}


.top {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  background: rgb(202, 185, 185);
}

.container {
  width: 50%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  padding-top: 60px;
  height: 800px;
}

.jumbotron__container {
  background-image: url('../images/block_1_img.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



.jumbotron__paragraph {
  padding-top: 80px;
  text-align: left;
  height: 600px;
  line-height: 1.5;
}

.jumbotron__title {
  font-family: Helvetica, Sans-Serif;
  font-size: 40px;
  font-weight: 800;
  color: #475e91;
}

.jumbotron__description {
  width: 45%;
}

.jumbotron__button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 40px;
  background-color: #3884fd;
  padding: 10px 30px;
  border-radius: 30px;
}

.underheader {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-size: x-large;
}

.underheader__block {
  display: flex;
  align-items: flex-start;
  width: 380px;
  align-items: center;
}


.underheader__image {
  width: 100px;
  height: 100px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}


.services {
  width: 1160;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}

.section-title {
  margin: 0 auto 20px;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 1;
}

.cards {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__item {
  width: 26%;
  margin-right: 50px;
  text-align: center;
}

.cards__image {
  width: 100px;
  height: 100px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.partnership {
  margin-top: 50px;
  /* background-image: url('../images/block_1_img.png'); */
  background-color: bisque;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  max-width: 1920px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.partnership__container {
  float: right;
  padding-top: 20%;
}

.partnership__para {
  max-width: 1280px;
  margin: 0 auto;
}

.partnership__paragraph {
  padding-top: 80px;
  text-align: center;
  width: 350px;
  height: 500px;
  line-height: 1.5;
  background-color: #3884fd;
  color: #ffffff;
}

.partnership__title {
  font-family: Helvetica, Sans-Serif;
  font-size: 35px;
  color: #ffffff;
  padding-top: 56px;
}

.partnership__description {
  margin: 10px;
}

.partnership__button {
  height: 44px;
  width: 44px;
  padding: 32px;
  border-radius: 50%;
  color: #475e91;
  background: rgba(255, 255, 255, 0.8);
  position: inherit;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  margin-left: 8px;
  border-style: solid;
  border-width: 22px 0 22px 37px;
}


.projects {
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 125px;

}

.projects__title {
  padding-top: 40px;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 35px;
  padding-bottom: 15px;
}

.project__ul {
  padding: 0;
}


.projects__titles {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;

  background: #fff;
  color: #3884fd;
  padding: 10px;
  border-radius: 35px;
  margin: 0 auto;
}

.projects__block {
  color: #fff;
  position: relative;
}

.projects__start {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}


.navpr li {
  margin: 0;
  display: inline;
  list-style: none;
  align-items: center;
 
}

.navpr_btn {
  background: #fff;
  color: #3884fd;
  border-style: solid;
  padding: 10px;
  border-radius: 35px;
  font-size: 17px;
  font-weight: bold;
}

.projects.navpr a:hover, .projects.navpr .active, .projects.navpr .active:focus {
  background: #3884fd;
  color: #fff;
}

.projects__subtitle {
  position: relative;
  max-width: 100px;
  border-style: solid;
  top: 45.50%;
  left: 45.50%;
  background: #fff;
  color: #3884fd;
  padding: 10px;
  border-radius: 35px;
}

.li {
  list-style: none;
}

.project__ul li {
  margin: 0 10px;
}

.project__ul .active {
  background: #3884fd;
  color: #fff;
  border-style: solid;
  border-color: #3884fd;
}

.projects__container {

  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}


.projects__block {
  min-width: 340px;
  min-height: 230px;
  padding: auto;
  background-color: #3884fd;
  margin: 34px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}



















.price {
  height: 300px;
  width: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #3884fd;
  color: #fff;
  justify-content: space-between;
}

.review__title {
  text-align: center;
  max-width: 1280px;
}

.footer {
  display: block;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  padding-top: 60px;
  background-color: rgb(36 55 98);
  color: white;
}

.footer__columns {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  background-color: rgb(23, 46, 100);
}

.footer__column {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column-heading {
  font-weight: bold;
  /* margin-bottom: 20px; */
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
}

.footer__column-link {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
  margin-left: auto;
  text-decoration: none;
  display: block;
  color: #fff;
}